.background    { background: rgba(144,172,141,1.00);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.quicksand          { background: rgba(143,105,68,1.00); }
.wall          { background: #243A1E;   }

.actor  { position: absolute;  }
.key   { background: rgba(255,187,0,1.00); }
.player { background: rgba(61,47,35,1.00); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
